paim1949-extra/build/
paim1949-backend
paim1949-desktop
paim1949-react_client
paim1949-reactive
paim1949-spring
paim1949-web
.gradle
.idea
gradle
log

.gitignore
.gitlab-ci.yml
checkstyle.xml
Dockerfile
gradlew
gradlew.bat
pmd-ruleset.xml
README.md
spotbugs-filter.xml